@import "reset";
@import "bourbon/bourbon";
@import "neat/neat";
@import "webfonts";

$max-width: em(690);
body { font-size:1.5em }

// Layout

body {
  padding-top:2.6em;
}

div#outer-container {
  @include outer-container;
  padding:0 1em;
}

section.main-body {
  @include span-columns(12);
}

h1, h2 {
  @include span-columns(8);
}

p {
  @include span-columns(8);
  margin:0.65em 0;
}

img {
  margin:0.65em 0 1.3em 0;
  max-height:em(80);
  display:inline-block;
  width:100%
}

img.double {
  max-height:em(130);
}

// Type

body {
  font-family:'concourse';
  line-height:1.3em;
}

h1 {
  font-size:2em;
  line-height:2.6em;
  font-family:'concourse_c3';
  font-weight:bold;
}

h2 {
  font-family:'concourse_c3';
  font-weight:bold;
  font-size:1.3em;
  line-height:1.3em;
}

em {
  font-style:italic;
}

// Color

body {
  color:#556;
}
