@import "reset";
@import "bourbon/bourbon";
@import "neat/neat";
@import "webfonts";

body { font-size:1.3em }
// Layout

div#outer-container {
  @include outer-container;
}

p {
  @include span-columns(8);
  margin: 1.3em 0;
}

img {
  width:100%;
}

// Type

body {
  font-family:'concourse';
  line-height:1.3em;
}

em {
  font-style:italic;
}
