@import "reset";
@import "bourbon/bourbon";
@import "neat/neat";
@import "webfonts";

// Type

body {
  font-family:'concourse';
  font-size:1.2em;
  line-height:1.3em;
}

em {
  font-style:italic;
}
