@font-face {
  font-family: 'concourse_t3regular';
  src: url('../fonts/concourse_t3_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'concourse_t3italic';
  src: url('../fonts/concourse_t3_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'concourse_c3regular';
  src: url('../fonts/concourse_c3_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'concourse_c3bold';
  src: url('../fonts/concourse_c3_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'concourse_t3bold';
  src: url('../fonts/concourse_t3_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'equity_text_bregular';
  src: url('../fonts/equity_text_b_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'equity_caps_bregular';
  src: url('../fonts/equity_caps_b_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'equity_text_bitalic';
  src: url('../fonts/equity_text_b_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
